a {
  color: #00B7FF;
}

html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: #000000 url(/SocialHarvest/loading.gif) center center no-repeat;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 20px;
    height: 100%;
}

.search-container{
  position:fixed;
  width: 26%;
  height: 60%;
  border-radius: 22px;
  left:3vw;
  top:10vh;
  padding:40px;
  background-color: white;
  opacity:0.3;
  z-index:10;
}

.search-bar {
  width: 30px;
  height:80px
  z-index: 20;
  opacity:1;
  vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

  .search-bar input#search{
  width: 200px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 20pt;
  float: left;
  color: #262626;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}

.btn{
  height:50px;
}

.introduction{
  padding-top:40px;
}

hr {
  height:10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

p{
  font-family: serif;
}
